html * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em !important;
}

body {
    background: url("/images/background.jpg");
    color: #FFF;
}

a {
    color: white;
}

.column {
    float: left;
    padding: 10px;
    height: 100vh;
}

.column.left {
    width: 60vw;
    border-right: solid 2px white;
}

.column.right {
    width: 40vw;
}

.admin {
    position: relative;
}

.standings,
.statistics,
.info {
    margin-top: 20px;
    text-align: center;
    display: none;
}

.middleCards,
.playerCards,
.playerActions {
    margin: auto;
    height: 35%;
    white-space: nowrap;
    text-align: center;
}

.nextMove {
    height: 5vh;
    font-size: 200% !important;
    text-align: center;
    vertical-align: auto;
}

.btn-wrapper {
    position: absolute;
}

.admin {
    position: absolute;
}

.gameLog {
    height: 80%;
    margin-top: 20px;
    text-align: center;
    overflow: scroll;
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

img.card {
    border: 2px solid transparent;
    border-radius: 7%;
    max-height: 70%;
    display: inline-block;
}

img.gameover {
    max-width: 90%;
}

.adminbutton {
    background-color: black;
    color: #FFF;
    border-radius: 13px;
    cursor: pointer;
    padding: 2% 2%;
    margin: 1% !important;
}

.button {
    background-color: black;
    color: #FFF;
    border-radius: 13px;
    cursor: pointer;
    padding: 2% 0.2%;
    margin: 1% !important;
    min-width: 20% !important;
}

.buttonDisabled {
    background-color: lightgrey;
    border-radius: 13px;
    padding: 2% 0.2%;
    margin: 1% !important;
    min-width: 25% !important;
    pointer-events: none;
}

.rules {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
}


/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

.login.page {
    background: url("/images/welcome.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
}

.login.page .login {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
}

.login.page .login .name {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    padding-top: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title {
    font-size: 200% !important;
}

.login.page .name {
    font-size: 200% !important;
    letter-spacing: 3px;
}

.login.page .title,
.login.page .name {
    font-weight: 100 !important;
}

.game.page {
    display: none;
    color: #FFF;
}

.results.page {
    display: none;
    color: #FFF;
}

.results.page .results {
    height: 80%;
}

.results.page .results .hand {
    margin: 1em;
    display: inline-block;
    text-align: center;
    height: 35%;
    border: 2px solid white;
    border-radius: 8px;
}

.results.page .results .hand img.card {
    max-height: 90%;
}

.results.page .counter {
    height: 10%;
    font-size: 200% !important;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

#header {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: calc(55px);
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    color: white;
    background-color: transparent;
    border: none;
    padding: 12px 16px;
    font-size: 20px !important;
}

#unmute-btn {
    display: none;
}

@media screen and (max-width: 1024px) {
    main {
        height: auto !important;
        flex-direction: column !important;
        -webkit-overflow-scrolling: touch !important;
    }
    .right {
        width: calc(100vw) !important;
        position: relative !important;
        height: 30vh !important;
    }
    .left {
        height: 50vh !important;
        min-height: calc(var(--vh, 1vh) * 60) !important;
        width: calc(100vw) !important;
        border-right: 0px !important;
        border-bottom: 2px solid !important;
        border-bottom-color: #F0F0F0 !important;
    }
    .nextMove {
        height: 10vh i !important;
    }
    img.card {
        max-height: 90% !important;
    }
}