html *{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* images */
img.card {
	margin: 0 2%;
	border:2px solid transparent;
	border-radius: 7%;
	max-height: 90%;  
	max-width: 18%;  
}

.actionbutton {
	width: 10em;
	height: 4em;
	margin: 1em;
	border-radius: 5%;
	color: white; 
	text-align: center; 
	background: green;
}

/* divs */
div.rules {
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	height: auto; 
}

div.board {
	background-image: url('/images/background.png');
	background-position: center;
	border-radius: 10%;
	position: fixed;
	top: 5%;
	left: 20%;
	width: 60%;
	height: 80%;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

div.board h1{
	font-family: 'VT323', monospace;
	font-size: 700%;
	position: absolute;
	z-index: 10;
	color: #E44141;
}
 
div.middleCards {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-30%, -50%);
	width: 37%;
	height: 25%; 
}
 
div.myCards {
	position: fixed;
	top: 70%;
	left: 50%;
	transform: translate(-30%, -50%);
	width: 37%;
	height: 25%;   
}

div.myActions {
	position: fixed;
	top: 70%;
	left: 81%;
	width: 15%;
	height: 25%;   
	transform: translate(0%, -50%);
}

div.settings {
	position: fixed;
	top: 1%;
	left: 20%;
	width: 30%;
	height: 5%;
}


div.errorLog {
	position: fixed;
	top: 85%;
	left: 20%;
	width: 60%;
	height: 5%;
	text-align: center; 
	margin-top: 2em;
	color: red;
}


div.gameLog {
	position: fixed;
	top: 35%;
	left: 1%;
	width: 15%;
	height: 44%; 
	font-size: 0,5vw;
	border: 1px solid green;
	visibility: hidden;
	overflow-y: auto;
    overflow-x: hidden;
}

div.gameScore {
	position: fixed;
	top: 5%;
	left: 1%;
	width: 15%;
	height: 25%;
	border: 1px solid green;
	visibility: hidden;
}

div.totalScore {
	position: fixed;
	top: 5%;
	left: 82%;
	width: 15%;
	height: 25%;
	border: 1px solid green;
	visibility: hidden;
}

div.logHeader { 
	color: white; 
	text-align: center; 
	top: 3px; 
	background: green;
}

div.nextPlayer {
	position: fixed;
	top: 1%;
	left: 26%;
	width: 20%;
	height: 4%;
	font-size: 2em;
}

div.links {
	position: fixed;
	top: 1%;
	left: 87%;
	width: 10%;
	height: 4%;
	font-size: 1em;
	text-align: right;
	visibility: hidden;
}


div.links span {
	background-color: green;
}

div.links a {
	color: white;
	text-decoration: none;
	padding: 10%;
}

/* Pages */
.pages {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
  }
  
  .page {
	height: 100%;
	position: absolute;
	width: 100%;
  }

.login.page,
.settings.page{
	background-color: #000;
  }
  
.login.page .login,
.settings.page .setting{
	height: 100px;
	margin-top: -100px;
	position: absolute;

	text-align: center;
	top: 50%;
	width: 100%;
}

.login.page .login .name,
.settings.page .setting .maxPlayers{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	padding-bottom: 15px;
	text-align: center;
	width: 400px;
}

.login.page .title,
.settings.page .title{
	font-size: 200%;
}

.login.page .name,
.settings.page .maxPlayers{
	font-size: 200%;
	letter-spacing: 3px;
}

.login.page .title, .login.page .name,
.settings.page .title, .maxPlayers {
	color: #fff;
	font-weight: 100;
}

.game.page {
	display: none;
}

.settings.page {
	display: none;
}


.username {
	font-weight: 700;
	overflow: hidden;
	padding-right: 15px;
	text-align: right;
}