html *{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* images */
img.card {
	margin: 0 0,9%;
	border:2px solid transparent;
	border-radius: 7%;
	max-height: 90%;  
	max-width: 18%;  
}

img.trumpcard{
	margin: 0 0,9%;
	border:2px solid transparent;
	border-radius: 7%;
	max-height: 90%;  
	max-width: 18%;   
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

img.talon {
	border-radius: 7%;
	border:2px solid transparent;
	max-height: 90%;  
	max-width: 18%;
}

.actionbutton {
	width: 10em;
	height: 4em;
	margin: 1em;
	border-radius: 5%;
	color: white; 
	text-align: center; 
	background: green;
}

/* divs */
div.rules {
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	height: auto; 
}

div.board {
	background-image: url("/images/background.png");
	background-position: center;
	border-radius: 10%;
	position: fixed;
	top: 5%;
	left: 20%;
	width: 60%;
	height: 80%;
	visibility: hidden;
}

div.myScore {
	position: fixed;
	top: 1%;
	left: 95%;
	font-size: 30px;
	visibility: hidden;
}

div.talon{
	position: fixed;
	top: 45%;
	left: 49%;
	transform: translate(-50%, -50%);
	width: 37%;
	height: 25%; 
}

div.trumpcard {
	position: fixed;
	top: 45%;
	left: 49%;
	transform: translate(-40%, -50%);
	width: 37%;
	height: 25%; 
}

div.playedCards {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 37%;
	height: 25%; 
}

div.myCards {
	position: fixed;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 37%;
	height: 25%;   
}

div.myMeldings {
	position: fixed;
	top: 60%;
	left: 21%;
	width: 10%;
	height: 10%; 
}

div.myActions {
	position: fixed;
	top: 70%;
	left: 82%;
	width: 15%;
	height: 25%;   
	transform: translate(0%, -50%);
}

div.settings {
	position: fixed;
	top: 1%;
	left: 20%;
	width: 20%;
	height: 5%;
}


div.errorLog {
	position: fixed;
	top: 85%;
	left: 20%;
	width: 60%;
	height: 5%;
	text-align: center; 
	margin-top: 2em;
	color: red;
}

div.roundLog{
	position: fixed;
	top: 5%;
	left: 1%;
	width: 15%;
	height: 35%;
	border: 1px solid green;
	visibility: hidden;
}

div.gameLog {
	position: fixed;
	top: 41%;
	left: 1%;
	width: 15%;
	height: 44%;
	border: 1px solid green;
	visibility: hidden;
}

div.matchLog {
	position: fixed;
	top: 5%;
	left: 82%;
	width: 15%;
	height: 25%;
	border: 1px solid green;
	visibility: hidden;
}

.logHeader { 
	color: white; 
	text-align: center; 
	top: 3px; 
	background: green;
}
